<section class="about" id="about">

        <div class="content" data-aos="fade-right">
            <h3>about us</h3>
            <p>Whether you are an amateur or a professional photographer, you must create a professional photography
                portfolio website that showcases your work and profile. Your online portfolio is the key to gaining new
                clients and growing your business. With photography portfolio websites becoming the default medium of
                presenting your work to the world, you must understand the do's and don'ts of creating a portfolio. We
                had earlier put together a comprehensive</p>
            <a href="#" class="btn">read more</a>
        </div>

    </section>