{% load static %}
<section class="blogs" id="blogs">
    <h1 class="heading"> our <span>blogs</span></h1>
    <div class="box-container">
        <div class="box" data-aos="fade-right">
            <div class="image">
                <img src="{% static 'img/blog1.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Based in Budapest </h3>
                <p>He loves to observe small details and figure out the story behind it. He has participated in
                    different photography exhibitions in Istanbul. Ekrem uses a large banner on the homepage of his
                    photography portfolio website to direct the viewers towards his work.</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by user1 </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-down">
            <div class="image">

                <img src="{% static 'img/blog2.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Oanh Tran </h3>
                <p>Her online portfolio site features her photography and design works. Oanh was born in Vietnam and
                    is an architect by profession. She is inspired by travel, nature, and architecture and likes to
                    create art which has patterns, light and shadows and compositions. Her site displays the work
                    across categories in a full-width banner. Following a subtle palette, her images are stunning
                    and make the viewer eager to explore the site</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by Oanh </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="image">
                <img src="{% static 'img/blog3.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Justin </h3>
                <p>He works as a staff photographer in the North Dakota University and also takes up freelance
                    photography assignments. His photography portfolio displays images in a dynamic horizontal
                    format in different categories, that allow for easy navigation</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 29st december, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by justin </a>
                </div>
            </div>
        </div>
    </div>

</section>