<section class="footer" id="footer">
    <div class="box-container">
        <div class="box" data-aos="fade-right">
            <h3>our branches</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Iran </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Japan </a>
        </div>
        <div class="box" data-aos="fade-down">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-angle-right"></i> home </a>
            <a href="#"> <i class="fas fa-angle-right"></i> products </a>
            <a href="#"> <i class="fas fa-angle-right"></i> about </a>
            <a href="#"> <i class="fas fa-angle-right"></i> courses </a>
            <a href="#"> <i class="fas fa-angle-right"></i> contact </a>
            <a href="#"> <i class="fas fa-angle-right"></i> blogs </a>
        </div>
        <div class="box" data-aos="fade-up">
            <h3>contact us</h3>
            <a href="#"> <i class="fas fa-envelope"></i> Test@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Tehran, Iran </a>
        </div>
    </div>
    <div class="credit"> created by <span>Alireza esrafili</span> | all rights reserved </div>

</section>