<section class="home" id="home">
    <div class="content">
        <h3> R<span>ESUME</span></h3>
        <p> Lorem ipsum odor amet, consectetuer adipiscing elit. Penatibus sollicitudin augue diam nam vehicula lacus.
            Aptent cras quis vel taciti metus pharetra habitasse consequat accumsan. Quis dis egestas nulla dui sociosqu
            tortor. Egestas dis eros laoreet sit cursus urna faucibus. Est sit leo; ad class porta cras.</p>
    </div>
    <div class="image">
        <img src="" alt="">
    </div>
</section>