{% load static %}

<section class="products" id="products">
    <h1 class="heading"> our <span>products</span></h1>
    <div class="swiper products-slider" data-aos="zoom-in">

        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">


                    <img src="{% static 'img/leica.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>leica m6</h3>
                    <div class="price"> $279.99 <span>$395.99</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">

                    <img src="{% static 'img/canon.jpg' %}" alt=""/>
                </div>
                <div class="content">
                    <h3>canon</h3>
                    <div class="price"> $279.99 <span>$395.99</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">

                    <img src="{% static 'img/nikon.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>nikon</h3>
                    <div class="price"> $289.99 <span>$305.99</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">

                    <img src="{% static 'img/nikon-2.jpg' %}" alt=""/>
                </div>
                <div class="content">
                    <h3>nikon </h3>
                    <div class="price"> $179.99 <span>$295.99</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">

                    <img src="{% static 'img/ricoh.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>ricoh</h3>
                    <div class="price"> $279.99 <span>$495.99</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">

                    <img src="{% static 'img/ricoh-2.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>ricoh</h3>
                    <div class="price"> $379.99 <span>$495.99</span></div>
                </div>
            </div>
        </div>

    </div>

</section>