{% load static %}

<section class="courses" id="courses">
    <h1 class="heading"> new <span>courses</span></h1>
    <div class="box-container">
        <div class="box" data-aos="fade-down">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-share"></a>
            </div>
            <div class="image">
                <img src="{% static 'img/dreamweaver.png' %}" alt="">
            </div>
            <div class="content">
                <h3>dream weaver</h3>
                <div class="price"> $179.99 <span>$195.99</span></div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-share"></a>
            </div>
            <div class="image">
                <img src="{% static 'img/audition.png' %}" alt="">
            </div>
            <div class="content">
                <h3>audition</h3>
                <div class="price"> $99.99 <span>$125.99</span></div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-share"></a>
            </div>
            <div class="image">
                <img src="{% static 'img/indesign.png' %}" alt="">
            </div>
            <div class="content">
                <h3>indesign</h3>
                <div class="price"> $99.99 <span>$125.99</span></div>
            </div>
        </div>

        <div class="box" data-aos="fade-right">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-share"></a>
            </div>
            <div class="image">
                <img src="{% static 'img/character-animator.png' %}" alt="">
            </div>
            <div class="content">
                <h3>character animator</h3>
                <div class="price"> $109.99 <span>$155.99</span></div>
            </div>
        </div>

        <div class="box" data-aos="fade-down">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-share"></a>
            </div>
            <div class="image">
                <img src="{% static 'img/lightroom.png' %}" alt="">
            </div>
            <div class="content">
                <h3>light room </h3>
                <div class="price"> $179.99 <span>$200.99</span></div>
            </div>
        </div>

        <div class="box" data-aos="fade-left">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-share"></a>
            </div>
            <div class="image">

                <img src="{% static 'img/muse.png' %}" alt="">
            </div>
            <div class="content">
                <h3>muse</h3>
                <div class="price"> $89.99 <span>$95.99</span></div>
            </div>
        </div>
    </div>

</section>